---
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon/components';

// Components
import Hero from '../components/Hero.astro';
import Skills from '../components/Skills.astro';
import Button from '../components/Button';
// import EducationSection from '../components/EducationSection.astro';
import ProjectCardSection from '../components/ProjectCardSection.astro';
import TimeLine from '../components/TimeLine.tsx';

---

<Layout>
	<main>
		<Hero />

		<section class="w-10/12 xl:w-10/12 mx-auto mb-20 mt-5">
			<section>
                <h2 class="text-center text-4xl font-bold uppercase">Work Experience</h2>
            </section>
			<div class="w-full md:flex md:flex-wrap">
				<TimeLine 
					jobTitle='Web Developer / Graphic Designer / IT Support'
					jobDates='SEPT 2020 - PRESENT'
					jobTags='HTML5, CSS3, PHP, JS, REACTJS, MYSQL, MSMYSQL.' 
					list1="Develop & design WordPress websites."
					list2="On page SEO Optimization."
					list3="Maintain, troubleshoot and update websites, including databases."
					list4="Build website features using ReactJS."
					list5="Email integration/migration"
					list6="Designing banner ads & logos."
					list7="Create and update campaign reports."
				/>
				<TimeLine 
					jobTitle='Web Developer/Graphic Designer'
					jobDates='OCT 2017 - SEPT 2020'
					jobTags='HTML5, CSS3, JavaScript, PHP, MYSQL.' 
					list1="Design print materials."
					list2="Produced information sheets."
					list3="Designed standing banners, booths, posters, and letterheads."
					list4="Developed logos and websites."
					list5="SEO results and analytics."
					list6="Designed regulated industry labels for distribution"
					list7="Built brands and traveled worldwide for conventions."
				/>
				<TimeLine 
					jobTitle='Web Designer'
					jobDates='AUG 2016 - SEPT 2019'
					jobTags='HTML5, CSS3, JS, AJAX, PHP, MYSQL.' 
					list1="Updated and maintained the growth of the company website."
					list2="Uploaded and updated new products/prices."
					list3="Photographing new products."
					list4="Developing new websites for upcoming E-liquid brands."
					list5="Increased traffic and revenue through website optimization"
					list6="Email newsletter marketing."
					list7="Search Engine Optimization / Analytical tracking, product research, keyword research."
				/>
			</div>
		</section>

		<ProjectCardSection />
		<section class="w-10/12 xl:w-10/12 mx-auto mb-20 mt-5 md:flex">
			<div class="mx-auto">
				<Button link="/portfolio" name="See more projects" target="_self" bgColor="bg-[#17A2B8] hover:bg-[#28808D] shadow-md hover:shadow-2xl" width="w-full text-center text-1xl text-white pl-6 pr-6" iconStyle='ri-code-s-slash-line' />
			</div>			
		</section>

		<section class="bg-[#f4f4f4] pt-5 pb-5 shadow-xl">
			<Skills />
		</section>

		<!-- <section class="pt-2 pb-20 bg-[#f4f4f4]">
			<div class="mt-10">
				<h2 class="text-center text-4xl font-bold uppercase">Education</h2>
			</div>
			<EducationSection />
			<div class="mt-10">
				<div class="w-full">
					<p class="text-center text-1xl italic">For more information on my education, see below</p>
					<Button link="/education" name="Education" target="_self" bgColor="bg-[#17A2B8] hover:bg-[#28808D] shadow-md hover:shadow-2xl" width="w-[150px] mx-auto mt-5 text-center text-1xl text-white" iconStyle='ri-file-list-3-line' />
				</div>
			</div>
		</section> -->
	</main>
</Layout>
