---
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon/components';

// Components
import Hero from '../components/Hero.astro';

---

<Layout>
	<main>
		<Hero />
		<p>This is my index page</p>
		<!-- Automatically fetches and inlines Material Design Icon's "account" SVG -->
		<Icon name="mdi:account-key-outline" />
		<h1 class="text-3xl font-bold underline">  Hello world!</h1>
	</main>
</Layout>
