---
import Button from "./Button";
import TypingLoop from "./TypingLoop";

---

<section class="w-10/12 mx-auto lg:flex pt-40 pb-40">
    <div class="w-full lg:w-6/12">
        <p class="text-5xl font-extrabold leading-[1.5] text-center lg:text-left">Mark Phillips</p>
        <TypingLoop client:load />
        <!-- <p class="text-3xl font-semibold leading-[1.5] text-center lg:text-left"></p> -->
        <p class="text-xl font-light leading-[1.5] text-center lg:text-left">Front-End Developer with a strong foundation in Graphic Design and a growing passion for Back-End technologies that crafts dynamic, scalable full-stack applications with precision and technical depth. Experienced in Digital Marketing and SEO which allows me to bridge the gap between design, development, and discoverability.</p>
        <div class="sm:flex justify-center lg:justify-start">
            <Button name="Download Resume" link="#" bgColor="bg-[#17A2B8] hover:bg-[#28808D] mr-1 lg:mr-2 mt-3 text-center text-white shadow-md hover:shadow-2xl rounded-3xl" width="w-full sm:w-1/2 lg:w-1/2 xl:w-1/3" target="_blank" iconStyle="ri-download-2-line" />
            <Button name="GitHub" link="https://github.com/Zwill1" bgColor="bg-[#2D5B63] hover:bg-[#17A2B8] ml-1 lg:ml-2 mt-3 text-center text-white shadow-md hover:shadow-2xl rounded-3xl" width="w-full sm:w-1/2 lg:w-1/2 xl:w-1/3" target="_blank" iconStyle="ri-github-line" /> 
        </div>
    </div>
    <div class="w-6/12 text-center">
        IMAGE
    </div>
</section>

