---
// Components
import SkillBox from "./SkillBox";
---

<section class="mt-10">
    <h2 class="text-center text-4xl font-bold uppercase text-black">Skills</h2>
</section>
<section class="text-center w-11/12 lg:flex lg:w-11/12 xl:w-10/12 mx-auto mt-5">
    <SkillBox divStyle="lg:w-4/12 p-4 lg:p-4 m-4 bg-white hover:bg-[#f4f4f4] shadow-md hover:shadow-2xl" headerTextStyle="text-xl font-black mt-4 text-[#233538]" headerText="Front-End Languages" pTextStyle="mt-4" textSkills="HTML5 / CSS3 / LESS / SASS / JavaScript / ES6 / TypeScript / JQuery / JQueryUI / AJAX / JSON /" />

    <SkillBox divStyle="lg:w-4/12 p-4 lg:p-4 m-4 bg-white hover:bg-[#f4f4f4] shadow-md hover:shadow-2xl" headerTextStyle="text-xl font-black mt-4 text-[#233538]" headerText="Back-End Languages" pTextStyle="mt-4" textSkills="PHP / Python / C# / ASP.NET / ADO.NET / .NET / Windows Forms (C#) / MySQL / MSSQL / Azure DB / NodeJS / Express" />

    <SkillBox divStyle="lg:w-4/12 p-4 lg:p-4 m-4 bg-white hover:bg-[#f4f4f4] shadow-md hover:shadow-2xl" headerTextStyle="text-xl font-black mt-4 text-[#233538]" headerText="Frameworks" pTextStyle="mt-4" textSkills="React / NextJS / Astro / Angular / TailwindCSS / Styled Components / Preact / C# Razor Pages / Bootstrap" />
</section>
<section class="text-center w-11/12 lg:flex lg:w-11/12 xl:w-10/12 mx-auto mt-5">
    <SkillBox divStyle="lg:w-4/12 p-4 lg:p-4 m-4 bg-white hover:bg-[#f4f4f4] shadow-md hover:shadow-2xl" headerTextStyle="text-xl font-black mt-4 text-[#233538]" headerText="Content Management Systems" pTextStyle="mt-4" textSkills="WordPress / Shopify / Wix / Volusions" />

    <SkillBox divStyle="lg:w-4/12 p-4 lg:p-4 m-4 bg-white hover:bg-[#f4f4f4] shadow-md hover:shadow-2xl" headerTextStyle="text-xl font-black mt-4 text-[#233538]" headerText="IT Support" pTextStyle="mt-4" textSkills="Domain Email Setup / DNS Configuration / Forwarding / SSL Setup / Web Server Setup / Web Hosting & Maintenance" />

    <SkillBox divStyle="lg:w-4/12 p-4 lg:p-4 m-4 bg-white hover:bg-[#f4f4f4] shadow-md hover:shadow-2xl" headerTextStyle="text-xl font-black mt-4 text-[#233538]" headerText="Marketing" pTextStyle="mt-4" textSkills="Social Media Marketing / Website SEO / Google Ads PPC / Web Analytics GA4 / UI/UX Specialist" />

</section>
<section class="text-center w-11/12 lg:flex lg:w-11/12 xl:w-10/12 mx-auto mb-5">

    <SkillBox divStyle="lg:w-4/12 p-4 lg:p-4 m-4 bg-white hover:bg-[#f4f4f4] shadow-md hover:shadow-2xl" headerTextStyle="text-xl font-black mt-4 text-[#233538]" headerText="Software" pTextStyle="mt-4" textSkills="Adobe Suite / Interactive PDF / Video Editing" />

    <section class="lg:w-4/12 p-4 lg:p-4 m-4"></section>

    <section class="lg:w-4/12 p-4 lg:p-4 m-4"></section>

</section>