---
// Components
import SkillBox from "./SkillBox";
---

<section class="mt-10">
    <h2 class="text-center text-4xl font-bold uppercase text-black">Skills</h2>
</section>
<section class="text-center w-11/12 lg:flex lg:w-11/12 xl:w-10/12 mx-auto mt-5">
    <SkillBox divStyle="lg:w-4/12 p-4 lg:p-4 m-4 bg-white hover:bg-[#f4f4f4] shadow-md hover:shadow-2xl" headerTextStyle="text-xl font-black mt-4 text-[#233538]" headerText="Front-End Languages" pTextStyle="mt-4" textSkills="HTML / HTML5 / XHTML / CSS / CSS3 / TailwindCSS / Styled Components / LESS / SASS / JavaScript / ES6 / React / TypeScript / AngularJS / JSON / Python / C# / ASP.NET / ADO.NET / .NET / Windows Forms (C#) / JQuery / JQueryUI / AJAX / OOP / Flash / ActionScript / XML" />

    <SkillBox divStyle="lg:w-4/12 p-4 lg:p-4 m-4 bg-white hover:bg-[#f4f4f4] shadow-md hover:shadow-2xl" headerTextStyle="text-xl font-black mt-4 text-[#233538]" headerText="Back-End Languages" pTextStyle="mt-4" textSkills="PHP / MySQL / MSSQL / Azure DB / NodeJS / Express / Mongoose" />

    <SkillBox divStyle="lg:w-4/12 p-4 lg:p-4 m-4 bg-white hover:bg-[#f4f4f4] shadow-md hover:shadow-2xl" headerTextStyle="text-xl font-black mt-4 text-[#233538]" headerText="Frameworks" pTextStyle="mt-4" textSkills="NextJS / Astro / Bootstrap / C# Razor Pages / UiKit / Foundation Zurb / Semantic UI" />
</section>
<section class="text-center w-11/12 lg:flex lg:w-11/12 xl:w-10/12 mx-auto mb-5">
    <SkillBox divStyle="lg:w-4/12 p-4 lg:p-4 m-4 bg-white hover:bg-[#f4f4f4] shadow-md hover:shadow-2xl" headerTextStyle="text-xl font-black mt-4 text-[#233538]" headerText="Content Management Systems" pTextStyle="mt-4" textSkills="WordPress / Shopify / Volusions" />

    <SkillBox divStyle="lg:w-4/12 p-4 lg:p-4 m-4 bg-white hover:bg-[#f4f4f4] shadow-md hover:shadow-2xl" headerTextStyle="text-xl font-black mt-4 text-[#233538]" headerText="Marketing" pTextStyle="mt-4" textSkills="Social Media Marketing / Search Engine Optimization / Pay Per Click / Google Ads / Web Analytics / UI/UX Specialist" />
    
    <SkillBox divStyle="lg:w-4/12 p-4 lg:p-4 m-4 bg-white hover:bg-[#f4f4f4] shadow-md hover:shadow-2xl" headerTextStyle="text-xl font-black mt-4 text-[#233538]" headerText="Software" pTextStyle="mt-4" textSkills="Adobe Suite / Interactive PDF / Video Editing / Autodesk Softimage 3D / Quickbooks / T-Hub / ACCUPOS" />

</section>